.box-esqueci-senha-medico{
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-image: url('./foto-recupsenha-medico.png');
    background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
}
