.box-main-agenda{
    margin-left: 10%;
    margin-top: 60px;
}

.welcome{
    font-weight: 400;
    color: #061E2A;
    font-size: 25px;
    margin-top: 40px;
    font-family: 'Inter', sans-serif; 
}

.agenda{
    font-weight: 600;
    color: #004B70;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}  

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 92%;
    margin-top: 60px;
}


.esquerda{

}

.direita{
    width: 15%;

}

.iniciar{
    background-color: #004B70;
    text-align: center;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

.status{
    background-color: #004B70;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.table{
    width: 90%;
    margin-top: 20px;
}

.iniciar:hover{
    background-color: #3484AC;

}

.busca{
    width: 25%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid #004B70;
    margin-right: 30px;
}

#busca{
    border: none;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: 65%;
    margin-right: 30px;
    outline: 0;
}